<form id="uploadForm" enctype="multipart/form-data" action="upload" method="post">
    <div class="custom-file mb-3 container">
        <div class="file-upload">
            <input class="file-upload__input" type="file" name="file" id="customFile" >
            <button class="file-upload__button" type="button">Choose File(s)</button>
            <span class="file-upload__label"></span>
          </div>
        <button type="submit" class="btn btn-success">Upload</button>
    </div>
</form>

<div class="col-lg-3 col-md-4 col-sm-5 col-xs-12">
    <div class="statistic-right-area notika-shadow mg-tb-30 sm-res-mg-t-0 ">
        <h2>List file</h2>
        <div class="ls">
            <div class="fileitem">abc</div>
        </div>
    </div>
</div>
<div class="col-lg-9 col-md-8 col-sm-7 col-xs-12">
    <div class="sale-statistic-inner notika-shadow mg-tb-30">
        <div class="curved-inner-pro">
            <div class="curved-ctn">
                <h2>...</h2>

            </div>
        </div>
        <div class="text-center" style="margin-bottom: 10px">
            <button type="button" class="btn-dg btn btn-success">Dự báo</button>
        </div>
        <div class="dfile"></div>
        <div class="decr"></div>
        <div class="dg-data"></div>
    </div>
</div>